* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: orangered;
  padding-top: 2rem;
}

.btn {
  width: max-content;
  background-color: #fff;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  border-radius: 16px 0 16px 0;
  transition: .4s ease-in-out;
}

.btn:hover {
  border-radius: 0 16px 0 16px;
}

h1 {

  text-align: center;
  margin-top: 3rem;
  color: #fff;
}